
<h1><%= @group.id %> | <%= @group.name %></h1>

<% if current_user.teacher?%>
  <%= link_to "Edit group (name)", edit_group_path(@group)%>
  <%= link_to "Delete", @group, method: :delete,
              data: { confirm: "You sure?" } %>

<%end %>



<div class="row">
<div class="col-md-4">
  <h2>Students:</h2>

  <ul class="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>

  </ul>
</div>

  <% if current_user.teacher?%>
    <div class="col-md-4">
      <h2>Students who are not in the group:</h2>

      <ul class="users">
        <% @users_not_in_group.each do |user| %>
          <%= render user %>
        <% end %>

      </ul>
    </div>

  <%end%>

</div>

