hi its a group  page
<h1><%= @group.id %> | <%= @group.name %></h1>

<% if current_user.teacher?%>
  <%= link_to "Edit group (name)", edit_group_path(@group)%>
  <%= link_to "Delete", @group, method: :delete,
              data: { confirm: "You sure?" } %>

<%end %>



<div class="row">
<div class="col-md-4">
  <h2>Students:</h2>

  <ul class="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>

  </ul>
</div>

  <% if current_user.teacher?%>
    <div class="col-md-4">
      <h2>Students who are not in the group:</h2>

      <ul class="users">
        <% @users_not_in_group.each do |user| %>
          <li>

            <%= link_to user.name, user %>
            <% if current_user.teacher? && !(current_user == user) %>


              <!--      to make sure that teacher can not delete another teacher-->
              <%if !user.teacher? %>
                | <%= link_to "Edit", edit_user_path(user)%>
                <%= link_to "Delete", user, method: :delete,
                            data: { confirm: "You sure?" } %>

                <%= link_to "Add to group", add_to_group_path(@group.id, user: user), method: :post
                %>
              <%end %>

            <% end %>
          </li>
        <% end %>

      </ul>
    </div>

  <%end%>

</div>

