
<h1><%= @group.id %> | <%= @group.name %></h1>

<% if current_user.teacher?%>
  <%= link_to "Edit group (name)", edit_group_path(@group)%>
  <%= link_to "Delete", @group, method: :delete,
              data: { confirm: "You sure?" } %>

<%end %>

<h2>Owner: <%=@owner.name%></h2>


<div class="row">
<div class="col-md-4">
  <h2>In Group:</h2>

  <ul class="users">
    <% @users.each do |user| %>
      <%= render user do%>
        <%= link_to "Remove from group", remove_from_group_path(@group.id, user: user), method: :post
        %>
      <%end %>
    <% end %>

  </ul>
</div>

  <% if current_user.teacher?%>
    <div class="col-md-4">
      <h2>Not in group:</h2>

      <ul class="users">
        <% @users_not_in_group.each do |user| %>
          <%= render user do%>
            <%= link_to "Add to group", add_to_group_path(@group.id, user: user), method: :post
            %>
          <%end %>
        <% end %>

      </ul>
    </div>

  <%end%>

</div>

