
<%if controller.action_name == 'new'%>
  <%route = {controller: 'users', action: 'create_student'} %>
<%end %>

<%if controller.action_name == 'edit'%>
  <%route = {controller: 'users', action: 'update'} %>
<%end %>


<div class="row justify-content-center">
  <div class="col-md-5 col-md-offset-3">
    <!--    defining action to make no conflict between devise registration create and user create-->

      <%= form_for @user, url: url_for(route) do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control input' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control input' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control input' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control input' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>