<div class="row justify-content-center solution">
  <div class="col-md-4">
    <h1 class="heading-1"><%=@solution.name %></h1>
    <p class="solution__info">
      ID: <%=@solution.id %>
    </p>
    <p>
      Status: <%=@solution.state %>
    </p>
    <p class="solution__info">
      User ID: <%=@solution.user_id %>
    </p>
    <p class="solution__info">
      Task ID: <%=@solution.task_id %>
    </p>
    <p class="solution__info">
      Solution: <%=@solution.solution %>
    </p>


    <div class="judge-report">
      <p class="solution__info">Judge token: <%=@solution.judge_token %></p>
    </div>
  </div>

  <div class="col-md-4 d-flex flex-column justify-content-center">
    <%= link_to "Edit", edit_solution_path(params[:id], task_id: @solution.task_id , solution_id: @solution), class: 'btn-dark'%>
    <%= link_to "Delete", delete_solution_path(params[:id], task_id: @solution.task_id , solution_id: @solution), method: :delete,
                data: { confirm: "You sure?" } ,class: 'btn-dark'%>
    <%= link_to "Send the solution to judge0", judge_solution_path(params[:id], task_id: @solution.task_id , solution_id: @solution), method: :post ,class: 'btn-dark'%>

    <%if !@solution.final? %>
      <%= link_to "Mark as final", final_solution_path(params[:id], task_id: @solution.task_id , solution_id: @solution), method: :post , class: 'btn-dark'%>

    <%end %>
    <%= link_to "Mark as approved", approve_solution_path(params[:id], task_id: @solution.task_id , solution_id: @solution), method: :post ,class: 'btn-dark'%>

    <%if !(@solution.judge_token.empty?) %>
    <%= link_to "Download judge report", download_judge_report_path(params[:id], task_id: @solution.task_id , solution_id: @solution) ,class: 'btn-dark'%>
    <%end %>
      </div>

  <div>

  </div>





</div>


