

  <div class="row justify-content-center">

    <div class="form">


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input"%>
        </div>

        <div class="field ">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me%>
            <%= f.label :remember_me%>
          </div>
        <% end %>

        <div class="actions ">
          <%= f.submit "Log in", class: "btn-login btn btn-primary"%>
        </div>
      <% end %>


      <%= render "devise/shared/links" %>

      <!--      <li><%#= link_to "Log in", new_user_session_path, class: 'nav-link'%></li>-->
      <!--      <li><%#= link_to "Sign Up as Teacher", new_user_registration_path, class: 'nav-link'%></li>-->
    </div>


  </div>


